<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tutor2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Alumno.DetalleTutor"></activity>
        <activity
            android:name=".Tutor.InicioTutor"
            android:label="@string/title_activity_inicio_tutor" />
        <activity android:name=".Admin.VerCursos" />
        <activity android:name=".Admin.AgregarAlumno" />
        <activity android:name=".Admin.DetalleNotificacion" />
        <activity
            android:name=".Admin.AgregarCurso"
            android:label="@string/title_activity_agregar_curso"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Tutor.Evento" />
        <activity
            android:name=".Tutor.TutorInico"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Alumno.Principal"
            android:label="@string/title_activity_principal" />
        <activity
            android:name=".Admin.PrincipalAdmin"
            android:label="@string/title_activity_principal_admin" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>